<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fradgify: Streaming you can trust!</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/homepage.css">
</head>
<body>
    <!-- SVG image with no gaps -->
    <img class="top-image" src="{{ url_for('static', filename='images/fradgify_tight.svg') }}" alt="Fradgify Logo">

    <!-- Content wrapper for consistent spacing -->
    <div class="content">
        <h2>Media Libraries</h2>
        <a href="/media/movies">Movies</a>
        <a href="/media/tv">TV</a>
        <a href="/media/music">Music</a>
        <a href="/media/sheets">Sheet Music</a>

        {% for library, files in latest_files.items() %}
            <h2>Latest {{ library }}</h2>
            {% for file in files %}
                {% if library == "Music" %}
                    <a href="/music/play/?path={{ file[21:] }}">{{ file.split('/')[-1] }}</a>
                {% else %}
                    <a href="{{ file }}">{{ file.split('/')[-1] }}</a>
                {% endif %}
            {% endfor %}
        {% endfor %}

        <h2>Where is Luke?</h2>
        <a href="/whereisluke">Find out</a>

        <h4><a href="/media/report" target="_blank">Site Traffic Dashboard</a></h4>
    </div>
</body>
</html>
