<!DOCTYPE html>
<html>
<head>
    <title>Where is Luke???</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <style>
        body {
            background-color: rgb(232, 250, 250);
        }
    </style>

    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/homepage.min.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/add-navbar.js') }}"></script>

</head>
<body>
    <h1>Oh No! Luke is lost!!</h1>

    <script src="{{ url_for('static', filename='js/custom-navbar.js') }}"></script>
</body>
</html>
