<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Where is Luke???</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/homepage.min.css">
    <script src="{{ url_for('static', filename='js/add-navbar.js') }}"></script>
</head>
<body>
    <h1>Oh No! Luke is lost!!</h1>
    <script src="{{ url_for('static', filename='js/custom-navbar.js') }}"></script>
</body>
</html>
