<!DOCTYPE html>
<html>
<head>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Where is Luke???</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/favicon.ico') }}">
    <!-- Leaflet CSS and JS -->
    <link rel="stylesheet" href="/static/css/leaflet.css">
    <link rel="stylesheet" href="/static/css/homepage.min.css">
    <script src="/static/js/leaflet.js"></script>
    <script src="{{ url_for('static', filename='js/add-navbar.js') }}"></script>
</head>
<body>
    <h2 class="title">Where is Luke???</h2>

    {% if decoded_filename %}
        <ul>
            <li><strong>Last seen watching:</strong> {{ decoded_filename }}</li>
            <li><strong>On:</strong> {{ time }}</li>
            <li><strong>From IP Address:</strong> {{ ip_address }}</li>

            {% if lat and lng %}
                <li><strong>Located at:</strong> {{ lat }}, {{ lng }} (lat, long)</li>
                <li><strong>In:</strong> {{ city }}, {{ country }}</li>
            {% else %}
                <li>Could not find geolocation for the IP address.</li>
            {% endif %}
        </ul>

        {% if lat and lng %}
            <div id="map" style="height: 600px;"></div>
            <script>
                var map = L.map('map').setView([{{ lat }}, {{ lng }}], 5);
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                }).addTo(map);

                var marker = L.marker([{{ lat }}, {{ lng }}]).addTo(map);
                marker.bindPopup("<b>IP Location</b><br>Lat: {{ lat }}<br>Lng: {{ lng }}").openPopup();
            </script>
        {% endif %}
    {% else %}
        <p>{{ error }}</p>
    {% endif %}

    <script src="{{ url_for('static', filename='js/custom-navbar.js') }}"></script>
</body>
</html>
