<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fradgify Album Player</title>
    <link rel="stylesheet" href="/static/css/homepage.min.css">
    <link rel="stylesheet" href="/static/css/play.css">
    <script src="{{ url_for('static', filename='js/add-navbar.js') }}"></script>
    <script src="/static/js/howler.min.js"></script>
</head>
<body>
    <div class="player-container">
        <div id="artist-album-info">
            <h2 id="artist-name"></h2>
            <h2 id="album-name"></h2>
        </div>
        <!-- Single Album Art -->
        <img id="album-art" src="" alt="Album Art" class="album-art">

        <div class="controls">
            <button aria-label="Previous Track">
                <img src="/static/icons/skip_previous_37dp_007BFF_FILL0_wght700_GRAD0_opsz40.svg" alt="Previous">
            </button>
            <button aria-label="Play / Pause">
                <img src="/static/icons/play_pause_37dp_007BFF_FILL0_wght700_GRAD0_opsz40.svg" id="play-pause-icon" alt="Play">
                <span id="play-pause-text" class="no-text">Play / Pause</span>
            </button>
            <button aria-label="Next Track">
                <img src="/static/icons/skip_next_37dp_007BFF_FILL0_wght700_GRAD0_opsz40.svg" alt="Next">
            </button>
        </div>

        <!-- Track Info Display -->
        <div id="track-info" class="now-playing"></div>

        <!-- Progress Bar -->
        <div class="progress" id="progress-container">
            <div class="progress-bar">
                <div id="progress"></div>
            </div>
        </div>

        <!-- Volume Control -->
        <div class="volume-control">
            <img src="/static/icons/volume_down_37dp_007BFF_FILL0_wght700_GRAD0_opsz40.svg" alt="Mute" aria-hidden="true">
            <input type="range" id="volume" min="0" max="1" step="0.01" value="1">
            <img src="/static/icons/volume_up_37dp_007BFF_FILL0_wght700_GRAD0_opsz40.svg" alt="Max Volume" aria-hidden="true">
        </div>

        <!-- Track List -->
        <h3>Track List</h3>
        <ul id="track-list"></ul>
    </div>

    <script src="/static/js/album-player.js"></script>
    <script src="{{ url_for('static', filename='js/custom-navbar.js') }}"></script>
</body>
</html>
