<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Browser</title>
    <!-- Include jQuery, DataTables CSS, and JS -->
    <link rel="stylesheet" href="/static/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/homepage.min.css">
    <link rel="stylesheet" href="/static/css/search.css">
    <script src="/static/js/jquery-3.7.1.min.js"></script>
    <script src="/static/js/dataTables.min.js"></script>
    <script src="{{ url_for('static', filename='js/add-navbar.js') }}"></script>
</head>
<body>
    <h1>Music Search</h1>
    <table id="albums" class="display">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Album</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- Data will be populated here -->
        </tbody>
    </table>

    <script src="{{ url_for('static', filename='js/album-browser.js') }}"></script>
    <script src="{{ url_for('static', filename='js/custom-navbar.js') }}"></script>
</body>
</html>
