body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th, table td {
    text-align: left;
    padding: 10px;
    word-wrap: break-word;
}

table th {
    background-color: #f4f4f4;
}

a {
    word-wrap: break-word;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
